%table
  %tr
    %th qty
    %th Name
    %th Item Cost
    %th Item Value
    %th Aggregate Cost
    %th Aggregate Projected Value
    %th

  - produceable.produceable_components.each do |produceable_component|
    - if produceable_component.component
      %tr
        %td= produceable_component.qty
        %td= link_to produceable_component.component.name, edit_produceable_path(produceable_component.component)
        %td= number_to_currency produceable_component.component.cost
        %td= number_to_currency produceable_component.component.value
        %td= number_to_currency produceable_component.cost, precision: 2
        %td= number_to_currency produceable_component.value, precision: 2
        %td= link_to 'Delete', produceable_component_path(produceable_component.id), method: :delete
