= form_for :produceable, url: produceable_path(produceable), method: :patch do |f|
  .type
    = f.label :type
    = f.select :type, ['Ship', 'Component', 'Mineral', ['Advanced Lunar Material', 'AdvancedLunarMaterial'], ['Planetary Materials', 'PlanetaryMaterials'], ['Other', 'Produceable']]
  .name
    = f.label :name
    = f.text_field :name

  .value
    = f.label :value
    = f.number_field :value, step: 0.01

  .blueprint_cost
    = f.label :blueprint_cost
    = f.number_field :blueprint_cost

  .submit
    = f.submit
