%h2
  Produceables
  = link_to "Build Plans", build_plans_path

- @produceables.group_by(&:type).each do |type, produceables|
  %h3= type
  %table.table.table-condensed.table-striped
    %tr
      %th.col-md-3 Name
      %th.col-md-2 Value
      %th.col-md-2 Cost
      %th.col-md-2 Number of Component
      %th.col-md-3

    - produceables.each do |produceable|
      %tr
        %td= link_to produceable.name, produceable_path(produceable)
        %td
          = link_to edit_produceable_path(produceable) do
            = number_to_currency produceable.value
        %td
          - if produceable.cost != 0
            = link_to produceable_path(produceable) do
              = number_to_currency produceable.cost
        %td
          - if produceable.has_components?
            = link_to produceable_path(produceable) do
              = produceable.produceable_components.count
        %td.text-right
          = link_to "Delete", produceable_path(produceable), method: :delete
%tr
  %td{colspan: 5}= link_to "Add Produceable", new_produceable_path
