<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :name %><br>
  <%= f.text_field :name %><br>

  <%= f.label :source %><br>
  <%= f.select :source, Product.enumerated_attributes[:source].map { |k, v| [ v, k ] }, {:include_blank => 'Select a Product Source'} %>

  <%= f.label :worth %>
  <%= f.text_field :worth %>

  <div class="actions">
    <%= f.submit (params[:action].to_sym == :new ? "Create" : "Save") + " Product" %>
  </div>
<% end %>
